#rules_table_form .state-disabled .icon-contentrule-enabled-assigned,
#rules_table_form .state-disabled .icon-contentrule-enabled-unassigned{
    display: none;
}

#rules_table_form .assignment-unassigned .icon-contentrule-enabled-assigned{
    display: none;
}

#rules_table_form .assignment-assigned .icon-contentrule-enabled-unassigned{
    display: none;
}

#rules_table_form .state-disabled .btn-rule-disable {
    display: none;
}
#rules_table_form .state-enabled .btn-rule-enable {
    display: none;
}
.filter-option{
  white-space: nowrap;
}

#configure-conditions,
#configure-actions{
  width: 50%;
  padding: 5px;
  float: left;
}

#manage-assignments{
  clear: both;
}

.chooser-right label{
  width: 100%;
}
.chooser-right select{
  display: inline-block;
  width: 70%;
}
.chooser-right input{
  display: inline-block;
}
